@model ecommerce.Models.UserVm 

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
               @*  <h2 class=" py-2">@ (string.IsNullOrEmpty(Model.User.Id) ? "Create Product" :  "Edit Product")</h2> *@
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input hidden asp-for="User.Id" name="id" />
           
            <div class="border p-3">

                <div class="form-floating py-2 col-12">
                    <input asp-for="User.UserName" class="form-control border-0 shadow" name="name" />
                    <label asp-for="User.UserName" class="ms-2"></label>

                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="User.PhoneNumber" name="phone" class="form-control border-0 shadow"  />
                    <label asp-for="User.PhoneNumber" class="ms-2"></label>

                </div>
                  <div class="form-floating py-2 col-12">
                    <input asp-for="User.Email" name="email" class="form-control border-0 shadow" />
                    <label asp-for="User.Email" class="ms-2"></label>

                </div>
                <div class="form-floating py-2 col-12">
                    <input  class="form-control border-0 shadow" name="pass" />
                    <label  class="ms-2">password</label>

                </div>

                <div class="form-floating py-2 col-12">
                    <select asp-for="User.Role" asp-items="@Model.roles" class="form-select border-0 shadow" name="role">
                        <option disabled selected>--select role--</option>
                    </select>
                    <label asp-for="User.Role" class="ms-2"></label>

                </div>

               
                <div class="form-floating py-2 col-12">
                    <input asp-for="User.Branch" class="form-control border-0 shadow" name="branch" />
                    <label asp-for="User.Branch" class="ms-2"></label>

                </div>
              
                
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control"> Save Changes   </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="users" asp-action="Index" class="btn btn-outline-primary border  form-control">
                            Back to List
                        </a>
                    </div>
                </div>


            </div>
        </form>
    </div>
</div>